.App {
  text-align: center;
  font-size: xx-large;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: x-large;
}

.size {
  font-size: x-large;
}

h4 {
  font-size: x-large;
  font-style: italic;
}

#textArea {
  display: inline-block;
  vertical-align: middle;
  padding-right: 2em;

}

#commentsBtn {
  display: inline-block;
  vertical-align: middle;
}

/* remove */
#commentSection{
  display: inline-block;
  margin-left: 150px;

}